/* reset css */
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

:root{
    --orange-color:#f66249;
    --orange-hover-color:#f43818;
    --black-background-color:#25262b;
    --gray-background-color:#2b2e34;
    --separated-line-color:#353940;
    --about-text-color:#e3e3e3;
}

::selection {
    color: white;
    background-color: var(--orange-hover-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/* --------- */
/* Star-rating */
#rating{border:none;float:left;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{
    margin:5px;
    font-size:15px;
    font-family:FontAwesome;
    display:inline-block;
    content:"\f005";
    cursor: pointer;
}/*1 ngôi sao*/
#rating>label{color:#ddd;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}
/* ----------- */
/* top header */
.top-header{
    width: 100%;
    background-color: var(--gray-background-color);
    color: #fff;
    font-family: karla;
    font-size: 16px;
}

.top-header .container{
    padding:0 10px 0 10px;
}

.top-header .container .row div{
    padding:15px 0px 20px 0px;
    display: flex;
    align-items: center;
}

.top-header .container .row .top-header__search{
    padding:0px 20px 0px 20px;
}

.top-header .container .row .top-header__search::after {
    content: "";
    height: 100%;
    width: 0.5px;
    background-color: var(--separated-line-color);
    position: relative;
    display: block;
    left:50px;
}

.top-header .container .row .top-header__search form input{
    background-color:var(--black-background-color);
    padding-left: 10px;
    padding-right: 0px;
    height: 30px;
    border: none;
    color:white;
}

.top-header .container .row .top-header__search form button{
    border: none;
    background: var(--black-background-color);
    padding: 0px 10px 1px 10px;
    height: 30px;
    position: absolute;

}

.top-header .container .row .top-header__search form button i{
    color:white;
    font-size: 15px;
}

.top-header .container .row .top-header__account{
    padding:0 0 0 5px;
}

.top-header .container .row .top-header__account i{
    color:white;
}

.top-header .container .row .top-header__account i:hover{
    color:var(--orange-color);
    transition: all 0.3s ease 0s;
}

.top-header .container .row .top-header__cart{
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange-color);
}

.top-header .container .row .top-header__cart:hover{
    background-color: var(--orange-hover-color);
    transition: all 0.3s ease 0s;
}

.top-header .container .row .top-header__cart i{
    color:white;
}
/* -------------------- */
/* navigation header */
.nav-header{
    background-color: #25262b;
    padding:15px 0px 0px 0px;
}

.nav-header .container{
    padding:0px;
}

.nav-header .container .logo::after{
    content: "";
    height: 1px;
    width: 100%;
    background-color: var(--separated-line-color);
    position: relative;
    display: block;
    top:15px;
}

.nav-header .container .logo img{
    opacity: 0.95;
}

.nav-header .container #nav-header{
    overflow: hidden;
    display: flex;
    margin-bottom: 0;
}

.nav-header .container #nav-header .icon{
    display: none;
}

@media screen and (max-width:1000px){
    .nav-header .container li:not(:first-child){
        display: none;
        padding-left: 20px;
    }

    .nav-header .container #nav-header .icon{
        display: block;
        padding-left: 15px;
    }

    .nav-header .container #nav-header{
        flex-direction: column;
    }

    .nav-header .container .responsive li{
        display: block;
    }

    .nav-header .container .responsive li::after{
        content: "";
        height: 2px;
        width: 100%;
        background-color: var(--separated-line-color);
        position: relative;
        display: block;
        top:20px;
    }
}

.nav-header .container ul li{
    margin:30px 30px 15px 0px;
    font-family: karla,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    list-style-type: none;
}

.nav-header .container ul li a{
    text-decoration: none;
    color: white;
}

.nav-header .container ul li a:hover{
    color:var(--orange-color);
    transition: all 0.3s ease 0s;
}
/* --------------------- */
/* navigation */
.navigation .container{
    padding:20px 0px 20px 0px;
}

.navigation .home, .navigation .tops{
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
    color: #767676;
}

.navigation .home:hover,.navigation .tops:hover{
    transition: all ease 0.3s 0s;
    color: var(--orange-color);
}

.navigation span{
    font-size: 13px;
    line-height: 10px;
    color: #767676;
}
/* --------------------- */
/* Product Detail */
.product .container{
    padding:0px;
}

.product .product-image{
    overflow: hidden;
    height: 365px;
}

.product .product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product .product-image a{
    position: absolute;
    top:4%;
    right:5%;
    height: 30px;
    width: 30px;
    background-color: white;
    color: black;
    border-radius: 50%;
    text-align: center;
    z-index: 100;
}

.product .product-details{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

@media screen and (max-width:768px){
    .product .product-details{
        margin-top: 20px;
    }
}

.product .product-details .product-details__name{
    font-size: 30px;
    line-height: 28px;
    font-weight: 600;
    color: #2a313e;
}

.product .product-details .product-details__description{
    margin:20px 0px 30px 0px;
    color: #717171;
    font-size: 15px;
    line-height: 23px;
}

.product .product-details .product-details__price{
    font-weight: 600;
    font-size: 25px;
    color: #2a313e;
    margin-bottom: 30px;
}

.product .product-details .product-details__buy{
    display: flex;
    flex-direction: column;
}

.product .product-details .product-details__buy .amount .amount-dec,.product .product-details .product-details__buy .amount .amount-inc{
    color: #666;
    text-decoration: none;
    font-size: 22px;
    line-height: 29px;
    font-weight: 700;
}

.product .product-details .product-details__buy .amount .amount-dec:hover,.product .product-details .product-details__buy .amount .amount-inc:hover{
    transition: all ease 0.3s 0s;
    color: var(--orange-color);
}

.product .product-details .product-details__buy .amount .amount-value{
    width: 25px;
    text-align: center;
    color: #666;
    font-size: 17px;
    font-weight: 700;
}

.product .product-details .product-details__buy .add-to-cart{
    width: 25%;
    margin-top: 40px;
    background-color: var(--orange-color);
    color: #fff;
    text-transform: uppercase;
    border: 2px solid var(--orange-color);
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}

.product .product-details .product-details__buy .add-to-cart:hover{
    background-color: var(--orange-hover-color);
    transition: all 0.3s ease 0s;
}

.product .product-details .product-details__category{
    margin: 20px 0px 40px 0px;
}

.product .product-details .product-details__category span{
    font-size:14px;
    color:#717171;
}

.product .product-details .product-details__category a{
    font-size:14px;
    color:var(--orange-color);
    text-decoration: none;
}

.product .product-details .product-details__category a:hover{
    color:var(--orange-hover-color);
    transition: all ease 0.3s 0s;
}
/* --------------------- */
/* Tab description and review */
.tabs .container{
    padding:0px;
    border: 1px solid #e1e1e1;
    width: 100%;
}

.tabs .tab-menu{
    padding:15px 0px 15px 0px;
    margin: 0px;
}

.tabs .tab-menu .tab-menu__tablink{
    color: #717171;
    text-decoration: none;
    font-size:20px;
    font-weight: 400;
    padding:15px 30px 15px 30px;
    margin:0px;
    border-bottom: 1px solid #e1e1e1;
}

.tabs .tab-menu .active{
    border-right:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    border-bottom-color: white;
}

.tabs .tab-wrap{
    padding:30px 30px 0px 30px;
    margin:0px;
}

.tabs .tab-wrap .tab-wrap__content{
    display: none;
}

.tabs .tab-wrap .active{
    display: block;
}

.tabs .tab-wrap #description p{
    margin:25px 0px 25px 0px;
    color: #717171;
    font-size: 15px;
}

.tabs .tab-wrap #review .review-form{
    display: flex;
    flex-direction: column;
    color: #717171;
    font-size: 14px;
}

.tabs .tab-wrap #review .review-form h3{
    color:black;
    margin-bottom: 20px;
}

.tabs .tab-wrap #review .review-form span{
    padding:10px 0px 10px 0px;
}
.tabs .tab-wrap #review .review-form .review-form__info{
    margin:41px 0px 40px 0px;
    display: flex;
    flex-direction: column;
}

.tabs .tab-wrap #review .review-form .review-form__info span{
    padding:20px 0px 0px 0px;
}

.tabs .tab-wrap #review .review-form .review-form__info input,.tabs .tab-wrap #review .review-form .review-form__info textarea{
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    font-size: 16px;
}

.tabs .tab-wrap #review .review-form .review-form__info .review-input{
    height: 100px;
    resize: both;
    overflow: auto;
}

.tabs .tab-wrap #review .review-form .review-form__info .contact{
    display: flex;
}

.tabs .tab-wrap #review .review-form .review-form__info .contact .name,.tabs .tab-wrap #review .review-form .review-form__info .contact .email{
    display: flex;
    flex-direction: column;
}

.tabs .tab-wrap #review .review-form .review-form__info .contact a{
    justify-content: center;
    align-items: flex-end;
    display: flex;
    padding-bottom: 6px;
    margin-top:41px;
    border: 2px solid;
    border-color: var(--orange-color);
    border-radius: 3px;
    background-color: var(--orange-color);
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
}

.tabs .tab-wrap #review .review-form .review-form__info .contact a:hover{
    background-color: var(--orange-hover-color);
    border-color: var(--orange-hover-color);
    transition: all ease 0.3s 0s;
}
/* -------------------------- */
/* Related products */
.related-products .container{
    padding:0px;
    margin-bottom:50px;
}

.related-products h3{
    margin: 30px 0px 30px 0px;
}

.related-products .related-products__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.related-products .related-products__item a:first-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    line-height: 19px;
    color: #2a313e;
    font-weight: 600;
}

.related-products .related-products__item a:first-child:hover >.name{
    color:var(--orange-color);
    transition: all ease 0.3s 0s;
}

.related-products .related-products__item .image{
    overflow: hidden;
    height: 320px;
}

.related-products .related-products__item .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.related-products .related-products__item .name{
    margin:30px 0px 20px 0px;
}

.related-products .related-products__item .add-to-cart{
    width: max-content;
    background-color: var(--orange-color);
    color: #fff;
    text-transform: uppercase;
    border: 2px solid var(--orange-color);
    border-radius: 3px;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    margin-top:15px;
}

.related-products .related-products__item .add-to-cart:hover{
    background-color: var(--orange-hover-color);
    transition: all 0.3s ease 0s;
}
/* ---------------- */
/* about-footer */
.about-footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--black-background-color);
}

.about-footer .title{
    font-size: 20px;
    font-weight: 600;
    color:white;
    width: fit-content;
    margin-bottom: 30px;
}

.about-footer .title::after{
    content: "";
    width: 40%;
    height: 5px;
    background: white;
    display: block;
    position: relative;
    top:5px;
}

.about-footer .title:hover::after{
    width: 100%;
    transition: all ease 0.3s 0s;
}

.about-footer .container .row .col-12 ul li{
    color:var(--about-text-color);
    list-style-type: none;
}

.about-footer .container .row .col-12 ul li a{
    color:var(--about-text-color);
    text-decoration: none;
}

.about-footer .container .row .col-12 .meta li a:hover{
    color:var(--orange-color);
    transition: all ease 0.3s 0s;
}

.about-footer .container .row .col-12 .recent-posts li{
    display: flex;
    margin-bottom:30px;
}

.about-footer .container .row .col-12 .recent-posts li img{
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

.about-footer .container .row .col-12 .recent-posts li span{
    color:white;
    font-weight: 600;
}

.about-footer .container .row .col-12 .recent-posts li span:hover{
    color:var(--orange-color);
    transition: all ease 0.3s 0s;
}

.about-footer .container .row .col-12 .about{
    color:var(--about-text-color);
}

.about-footer .container .row .col-12 .tags a{
    text-decoration: none;
    color:var(--about-text-color);
    border: 1px solid white;
    padding:8px;
    display: inline-block;
    margin:0px 5px 10px 0px;
}

.about-footer .container .row .col-12 .tags a:hover{
    background-color: var(--orange-color);
    transition: all ease 0.3s 0s;
}
/* ------------------ */
/* Copyright-footer */
.copyright-footer{
    background-color:var(--gray-background-color);
    padding:10px 0px 10px 0px;
}

.copyright-footer .container a{
    color:white;
    text-decoration: none;
    margin-right:20px;
}

.copyright-footer .container a:nth-child(1):hover{
    color:#23527c;
    transition: all ease 0.3s 0s;
}

.copyright-footer .container a:nth-child(2):hover{
    color:#3cf;
    transition: all ease 0.3s 0s;
}

.copyright-footer .container a:nth-child(3):hover{
    color:#ea4c89;
    transition: all ease 0.3s 0s;
}

.copyright-footer .container a:nth-child(4):hover{
    color:#1ab7ea;
    transition: all ease 0.3s 0s;
}

.copyright-footer .container a:nth-child(5):hover{
    color:#c4302b;
    transition: all ease 0.3s 0s;
}

.copyright-footer .container .copyright{
    color:white;
    font-size: 14px;
    float:right;
}
/* ------------------ */